################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HueBridge/v15
/HueBridge/bin/Debug/netcoreapp1.1
/HueBridge/obj
*.user
/HueBridge/ScaffoldingReadMe.txt
*.db
/HueBridge/bin/Debug/netcoreapp2.0
/HueBridge/.vs
/.vs/config
/ESP8266LightHandler/bin/Debug/netcoreapp2.0
/ESP8266LightHandler/obj
/HueBridge/bin/Release/netcoreapp2.0
/KonkeSmartDeviceHandler/obj
/DaylightSensorHandler/obj
